<%# <h1>Listings#index</h1>
<p>Find me in app/views/listings/index.html.erb</p> %>
<div class="background">

  <div class="container">
    <div class="cards">
      <% if @listings.any? %>
        <%= render @listings %>
      <% else %>
          <p><em>Sorry, no listings found.</em></p>
      <% end %>
    </div>
  </div>
</div>
