<div class="container">

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid mt-4">
      <%= link_to "Dashboard", host_bookings_path %>
      <%= link_to "Stats",  stats_bookings_path %>
    </div>
  </nav>

  <div class="navbar mt-4">

  </div>

  <div>
    <div>
      <button class="btn">Ratings</button>
      <button class="btn">Earnings</button>
      <button class="btn">Views</button>
    </div>

    <hr>

    <div class="mt-4">
      <select class="form-select" aria-label="Default select example">
        <option selected>Select a month</option>
        <option value="1">September</option>
        <option value="2">October</option>
        <option value="3">November</option>
      </select>
    </div>

    <div class="mt-4">
      <h1>$3,323</h1>
      <p>Booked earnings for 2023</p>
    </div>




  </div>
</div>
