.btn-custom {
  background-color: $airbnb-red;
  color: white;
  border-radius: 10px;
}

.btn-custom-search {
  background-color: $airbnb-red;
  color: white;
}

.btn-outline-custom {
  background-color: white;
  color: $airbnb-red;
  border: 2px solid $airbnb-red;
  border-radius: 10px;
}
