.text-custom {
  color: #222222;
  text-decoration: none;
}

.listing-details {
  color: #222222;
}

.smallest-text {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0;
}

.listing-general-details-text{
  color: #777777;
}

.price-breakdown {
  font-size: 17px;
}

#listing-standard-details i {
  font-size: 24px;
  color: #222222;
  margin: 20px;
}
